/*==============================
          BASE COLORS
===============================*/
$hugePink: #EC008C;
$hugeWhite: #FFFFFF;
$hugeGrey: #EEEEEE;
$hugeBlack: rgba(0, 0, 0, 1);
$hugeBlack--light: rgba(0, 0, 0, 0.5);


/*==============================
          BASE FONTS
===============================*/
$hg--mainFont: 'HUGEAvantGardeBold';
$hg--subFont: 'Galaxie';
$hg--baseFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
